extends ../index

block sidebar

block main
    .login-warraper.border.m-auto
        h5.text-primary &Dstrok;&abreve;ng nh&#x1EAD;p
        if(errors)
            each error in errors
                .alert.alert-danger= error
        form(method='POST')
            .form-group
                label(for='name') &Dstrok;&#x1ECB;a ch&#x1EC9; Email:
                input#name.form-control(type='text' name='name' placeholder='Name' value= value ? value.name : "")
            .form-group
                label(for='exampleInputEmail1') &Dstrok;&#x1ECB;a ch&#x1EC9; Email:
                input#exampleInputEmail1.form-control(type='email' name='email' placeholder='Email' value= value ? value.email : "")
            .form-group
                label(for='exampleInputPassword1') M&#x1EAD;t kh&#x1EA9;u:
                input#exampleInputPassword1.form-control(type='password' name='pass' placeholder='Password')
            .form-group
                label(for='confirm')  Nhập lại M&#x1EAD;t kh&#x1EA9;u:
                input#confirm.form-control(type='password' placeholder='Confirm' name='confirm')
            .d-flex.justify-content-center.mt-3
                button.btn.btn-primary(type='submit') Đăng Ký

block footer

