/* header */
*{
    padding: 0;
    margin: 0;
}

.bgcam{
    background-image: linear-gradient(to right, #3498db ,#9b59b6);
}

html{
    scroll-behavior: smooth;
}

.header{
    background-image: linear-gradient(to right, #3498db ,#9b59b6);
    width: 100%;
    position:  fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.logo{
    width: 20%;
    text-align: center;
    padding: 0 20px;
}


.logo span{
    font-size: 40px;
    font-weight: 700;
    color: red;
    text-shadow: 2px 2px 1px #fff, -2px 2px 1px #fff, 2px -2px 1px #fff, -2px -2px 1px #fff;
}

.logo a:hover{
    text-decoration: none;
}
.user-container {
    transition: all .3s;
}
.user-container:hover{
    text-decoration: none;
    color: black;
}

.menu {
    font-weight: 500;
    text-transform: capitalize;
}


.menu div a{
    color: white;
    padding-right: 20px;
}


.search-bar{
    width: 30%;
}

.login a{
    color: white;
}
.user {
    font-size: 40px;
}

.cart{
    font-size: 20px;
    transition: all .3s;
}

.cart:hover{
    color: black;
}



/* body */

.body-left{
    width: 25%;
    height: fit-content;
    position: sticky;
    top: 70px;
}

.body-right{
    width: 75%;
}

.body-web{
    width: 100%;
    margin-top: 130px;
    padding: 0 20px;
}

.title-web{
    width: 100%;
    font-size: 27px;
    background-image: linear-gradient(to right, #3498db ,#9b59b6);
    padding: 10px 25px;
    color: white;
}

/*left*/

.list-group-item a{
    cursor: pointer;
}

.li-parent{
    font-weight: 500;
    padding: 0 !important;
    transition: all .3s;
}

.li-parent a{
    color: black;
    padding: 15px 30px;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.li-parent:hover a {
    color: #fff;
    text-decoration: none;
}

.li-parent:hover{
    background-image: linear-gradient(to right, #3498db ,#9b59b6);
}

.li-parent:first-child{
    border-radius: 0 !important ;
}

/*right*/

.card-sach{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(80, 79, 79, 0.096);
    transition: all .3s;
}

.card-sach:hover{
    transform: translateY(-5px);
    box-shadow: 0 0px 10px rgba(80, 79, 79, 0.329);
}

.img{
    width: 100%;
    height: 250px;
}

.img img{
    width: 100%;
    max-height: 250px;    
}

.tensach{
    font-size: 0.9rem;
}

.gia-moi{
    font-size: 0.8rem;
    font-weight: 500;
}

.gia-cu{
    font-size: 0.8rem;
    text-decoration: line-through;
    color: gray;
}

.rate{
    color: #fcd149;
    font-size: 0.6rem;
}

.btn-mua{
    height: 40px;
    width: 70px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #3498db ,#9b59b6);
    background-size: 200%;
    transition: 0.5s;
}

.btn-mua:hover{
    text-decoration: none;
    color: white;
    background-position: right;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 10px;
}

.card-body h5{
    height: 40px;
}

/*user*/

.image-container{
    width: 100px;
}

.image-container img{
    width: 100%;
}

.table-custom{
    text-align: center;
}

.margin-auto{
    margin: auto;
}

.mauchinh{
    color: #3498db;
}

/***********************************/

/* css login */

.login-warraper{
    width: 30%;
    margin: auto;
    background-image: linear-gradient(to right, #3498db ,#9b59b6);
    border-radius: 20px;
    margin-top: 50px;
    padding: 50px 20px;
}

/* header */

.body-dangnhap{
    padding: 0 10%;
    background-image: linear-gradient(to right, #3498db ,#9b59b6);
}

.btn-mua-1{
    color: black;
    padding: 10px 50px;
    background-color: white;
    background-size: 200%;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: all .3s;
    text-transform: capitalize;
}

.btn-mua-1:hover{
    background-color: transparent;
    color: #fff;
}

.btn-dangky-link{
    color: #0056b3;
}

/*adress*/

.adress-container{
    background-image: linear-gradient(to right, #3498db ,#9b59b6);
    width: 40%;
    margin: auto;
    margin-top: 120px;
    padding: 50px 30px;
    border-radius: 10px;
}

.mauchinh{
    color: #3498db;
}

/****************************************/

/* css tạo sp */
.taosp{
    width: 40%;
    margin: 0 auto;
    background-image: linear-gradient(to right, #3498db ,#9b59b6);
    border-radius: 10px;
    margin-top: 125px;
    padding: 50px 30px;
}


.btn-mua-2{
    height: 40px;
    width: 70px;
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #3498db ,#9b59b6);
    background-size: 200%;
    transition: 0.5s;
    padding: 10px 20px;
}

.btn-mua-2:hover{
    text-decoration: none;
    color: white;
    background-position: right;
}

.mauchinh{
    color: #3498db;
}



/*quan ly*/


.book-manager{
    width: 100%;
    min-height: 90vh;
}

.mauxanh{
    color: #3498db !important;
}

.mautim{
    color: #9b59b6 !important;
}

.bgmauxanh{
    background-color: #3498db !important;
}

.bgmautim{
    background-color: #9b59b6 !important;
}