extends ../index 
block sidebar
block main
  .adress-container.border.mt-5.p-3.mb-5.m-auto
    h5.text-white Th&ecirc;m 1 &Dstrok;&#x1ECB;a Ch&#x1EC9; M&#x1EDB;i
    if(error)
      .alert.alert-danger= error
    form(method='POST')
      p.mb-2 &Dstrok;&#x1EC3; &dstrok;&#x1EB7;t h&agrave;ng vui l&ograve;ng th&ecirc;m &dstrok;&#x1ECB;a ch&#x1EC9; nh&#x1EAD;n h&agrave;ng
      input.form-control.mb-2(type='text', placeholder='Tên', name='name' value= value ? value.name : "")
      input.form-control.mb-2(type='tel', placeholder='Số điện thoại', name='phone' value= value ? value.phone : "")
      .mb-2
        select.form-control(name= 'tinh')
          option(disabled select) T&#x1EC9;nh/Th&agrave;nh ph&#x1ED1;
          option TPHCM
          option H&agrave; N&#x1ED9;i
          option Ninh Thu&#x1EAD;n
          option B&igrave;nh Thu&#x1EAD;n
      .mb-2
        select.form-control(name='quanhuyen')
          option Quận 1
          option Quận 2
          option Quận 3
          option Quận 4
          option Quận 5
          option Quận 6
          option Quận 7
          option Quận 8
          option Quận 9
          option Quận 10
          option Quận 11
          option Quận 12
          option Quận Bình Thạnh
          option Quận Tân Bình
          option Quận Tân Phú
          option Quận Gò Vấp
      input.form-control.mb-2(type='text', placeholder='Phường/Xã', name='phuongxa' value= value ? value.phuongxa : "")
      input.form-control.mb-2(type='text', placeholder='Tên đường', name='duong' value= value ? value.duong : "")
      .form-group
        label(for='exampleFormControlTextarea1') Ghi ch&uacute;
        textarea#exampleFormControlTextarea1.form-control(rows='3' name='note' value= value ? value.note : "")
      .d-flex.justify-content-center
        button.btn-mua-1(type='submit') Ho&agrave;n Th&agrave;nh
